[submodule "~/.oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:notgarrett/ohmyzsh.git
[submodule ".config/kitty"]
	path = .config/kitty
	url = /kitty
[submodule ".config/nvim"]
	path = .config/nvim
	url = /nvim
